@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');


/* defining colors */
:root{
    --Dark-cyan: hsl(185, 75%, 39%) ;
    --dark-sat-blue:hsl(229, 23%, 23%) ;
    --dark-gray-blue:hsl(227, 10%, 46%);
    --neutral-col : hsl(0, 0%, 59%);
}



body{
    /* background-image: url(/images/bg-pattern-top.svg); */
    /* background-image:url(/images/bg-pattern-top.svg); */
}


.img1{
    position:absolute;
    top:350px;
    right:-300px;
} 

.img2{
    position:fixed;
    bottom:350px;
    left:-300px;
}



.mainblock{
    border: 1px solid black;
    width: 280px;
    height:330px;
    text-align: center;
    border-radius:1.5rem;
    
    /* for centering */
    /* margin-left:auto;
    margin-right:auto; */
    /* for vertical aligning */

    background :var(--Dark-cyan);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}