@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');


/* defining colors */
:root{
    --Dark-cyan: hsl(185, 75%, 39%) ;
    --dark-sat-blue:hsl(229, 23%, 23%) ;
    --dark-gray-blue:hsl(227, 10%, 46%);
    --neutral-col : hsl(0, 0%, 59%);
}



body{
    background-color: var(--Dark-cyan);
    font-family:Kumbh Sans;
   }


.img1{
    position:absolute;
    top:350px;
    right:-300px;
} 

.img2{
    position:fixed;
    bottom:350px;
    left:-300px;
}



.mainblock{
    /* border: 1px solid black; */
    width: 280px;
    height:250px;
    text-align: center;
    border-radius:1.5rem;

    /* overflow:hidden; */
    background :white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 5px var(--neutral-col);  */
    box-shadow: 10px 10px 30px 5px #0ff;

}


.blue--bg{
    width:280px;
    /* border:1px solid; */
    border-top-right-radius:1.5rem;
    border-top-left-radius:1.5rem;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.pp{
    border: 1px solid white;
    border-radius: 3rem;
    border-width: 3px;
    position:relative;
    margin:0px;
    display:inline;
    margin-top: -47px;
    background: white;
    

}

hr{
    margin-bottom:30px;
}

.un__li{
    list-style:none;
    text-align:center; 
    display:block;    
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}


.in--li{
display:inline-block;
padding: 0rem 1rem;
margin:auto;
font-weight: bold;
}

span{
    opacity: 0.7;
    font-size:15px;
}